@model List<LeaveRequest>
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    int sn = 1;
}
<div id="addLeaveRequestFormBox" style="z-index: 99; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);" class="position-absolute d-none p-4 bg-white w-50 rounded">
    <div class="d-flex justify-content-between">
        <h3>Create Leave Request</h3>
        <button id="closeCreateLeaveRequestPopupBox" class="btn btn-danger d-flex justify-content-center align-items-center">
            <ion-icon name="close-outline" class="fs-3"></ion-icon>
        </button>
    </div>
    <hr />
    <form asp-action="CreateLeaveRequest" asp-controller="LeaveRequest" method="POST">
        <label>From Date</label>
        <input type="date" class="form-control" name="FromDate" required />
        <label class="mt-3">To Date</label>
        <input type="date" class="form-control" name="ToDate" required />
        <label class="mt-3">Remarks</label>
        <textarea class="form-control" name="LeaveRemarks" rows="3" required></textarea>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success mt-3 w-25">Apply</button>
        </div>
    </form>
</div>
@foreach (var item in Model)
{
    <div id="editLeaveRequest_@item.Id" style="z-index: 99; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);" class="d-none p-4 bg-white w-50 rounded">
        <div class="d-flex justify-content-between">
            <h3>Update Leave Request</h3>
            <button id="editLeaveRequest_@item.Id" onclick="hideEditLeaveRequestPopBox(this.id);" class="btn btn-danger d-flex justify-content-center align-items-center">
                <ion-icon name="close-outline" class="fs-3"></ion-icon>
            </button>
        </div>
        <form asp-action="editLeaveRequest" asp-controller="LeaveRequest" method="POST">
            <input hidden name="Id" value="@(item.Id)">
            <label>From Date</label>
            <input type="date" class="form-control" name="FromDate" value=@(item.FromDate.ToString("yyyy-MM-dd")) />
            <label class="mt-3">To Date</label>
            <input type="date" class="form-control" name="ToDate" value=@(item.ToDate.ToString("yyyy-MM-dd")) />
            <label class="mt-3">Remarks</label>
            <textarea class="form-control" name="LeaveRemarks" rows="3">@(item.LeaveRemarks)</textarea>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-warning mt-3 w-25">Update</button>
            </div>
        </form>
    </div>
}
@foreach (var item in Model)
{
    <div id="deleteLeaveRequest_@item.Id" style="z-index: 99; position: absolute; left: 50%; top: 15%;transform: translate(-50%, -50%);" class="d-none bg-white w-50 rounded">
        <div class="bg-danger w-100 p-2">
            <h3 class="fs-5 text-white">
                Confirm Deletion
            </h3>
        </div>
        <div class="p-2">
            <h3>Are you sure you wanna delete this?</h3>
            <p class="text-secondary">This item will be deleted permanently. You can't undo this action.</p>
            <div class="d-flex justify-content-end" style="gap:5px">
                <button id="deleteLeaveRequest_@item.Id" onclick="hideDeleteLeaveRequestPopBox(this.id)" class="btn btn-secondary">
                    Cancel
                </button>
                <a class="btn btn-danger" asp-controller="LeaveRequest" asp-action="deleteLeaveRequest" asp-route-id=@item.Id>
                    Delete
                </a>
            </div>
        </div>
    </div>
}
<div>

    <div class="container">
        <div class="d-flex justify-content-between mb-3">
            My Leave Requests
            <div class="float-end">
                <button class="btn btn-success" id="showCreateLeaveRequestPopupBox">
                    <ion-icon name="add-outline"></ion-icon>
                    Create Leave Request
                </button>
            </div>
        </div>
        <div class="mt-3">
            <table id="myTable" class="table mt-4 table-stripped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>SN</th>
                        <th>Requested By</th>
                        <th>Requested Date</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Leave Days</th>
                        <th>Remarks</th>
                        <th>Is Approved</th>
                        <th>Approved By</th>
                        <th>Approved Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(sn++)</td>
                            <td>@(item.Employee.Name)</td>
                            <td>@(item.RequestDate.ShowDate())</td>
                            <td>@(item.FromDate.ShowDate())</td>
                            <td>@(item.ToDate.ShowDate())</td>
                            <td>@((int)((item.ToDate - item.FromDate).Days) + 1)</td>
                            <td>@(item.LeaveRemarks)</td>
                            <td>@(item.IsApproved)</td>
                            <td>@(item.ApprovedByUserName)</td>
                            <td>@(item.ApprovedDate)</td>
                            <td>
                                @if (!item.IsApproved)
                                {
                                    <div class="d-flex" style="gap:5px">
                                        <button id="@item.Id" onclick="showEditLeaveRequestPopBox(this.id);" class="btn btn-warning">
                                            <ion-icon name="create-outline"></ion-icon>
                                        </button>
                                        <button id="@item.Id" onclick="showDeleteLeaveRequestPopBox(this.id)" class="btn btn-danger">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </button>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $("#showUserDetialBoxBtx").on("click", () => {
                $("#showUserDetialBox").toggleClass("d-none");

            });
            $("#showCreateLeaveRequestPopupBox").on("click", () => {
                $("#blurBox").removeClass("d-none");
                $("#addLeaveRequestFormBox").removeClass("d-none");
            });
            $("#closeCreateLeaveRequestPopupBox").on("click", () => {
                $("#blurBox").addClass("d-none");
                $("#addLeaveRequestFormBox").addClass("d-none");
            });
        })
        function showEditLeaveRequestPopBox(x) {
            $("#blurBox").removeClass("d-none");
            $("#editLeaveRequest_" + x).removeClass("d-none");
        }
        function hideEditLeaveRequestPopBox(id) {
            $("#blurBox").addClass("d-none");
            $("#" + id).addClass("d-none");
        }
        function showDeleteLeaveRequestPopBox(x) {
            $("#blurBox").removeClass("d-none");
            $("#deleteLeaveRequest_" + x).removeClass("d-none");
        }
        function hideDeleteLeaveRequestPopBox(id) {
            $("#blurBox").addClass("d-none");
            $("#" + id).addClass("d-none");
        }
    </script>
}
